extends layout

block content

  body
    ul.navcontainer
      li
        a(href='/') Home
      li
        a(href='why.html') Why
      li
        a(href='what.html') What
      li
        a(href='how.html') How
      li.highlight
        a(href='about.html') About
      li
        a(href='contact.html') Contact
    .pagecontainer
      #OuterPagePanel
        #ScrollPanel(style='margin-left: 10px; margin-right: 10px; width:50vw')
          p
            span(style='font-size:120%; font-weight:bold; color:#0055FF') Gina Chiao, aka  Ciu-Fen Chiao
            br
            | Qualifications: Mother, Artist, Designer, Linguist, Teacher, Master of Fine Arts.
            .img
              a(href='http://www.pbase.com/gchiao/root')
                img(src='/images/YinYangFace.jpg', alt='Face', style='width: 80%; ')
          p
            | Gina’s art has been exhibited internationally and in numerous private collections.  She has worked in Taiwan and the US
            | and is currently studing in France.
          p
            a(href='doc/gina-resume.pdf') Gina's Resume
          .img
            img(src='/images/GinaRockSurfing.jpg', alt='Rock Surfing', style='width: 80%; ')
          br
          br
          span(style='font-size:120%; font-weight:bold; color:#0055FF') Chip Garner
          br
          | Qualifications: Father, Cyclist, Potter, Programmer, Engineer, Master of Science in Engineering.
          .img
            img(src='/images/biking.jpg', alt='Bike Ride', style='width: 80%; ')
          p
            | Before he studied engineering in college, Chip Garner founded Clayfoot
            | Pottery, in Claremont, California, where he crafted and sold pottery, taught clay work to children and adults,
            | and provided studio space and tutoring to potters.
            br
            br
            |                     Chip is also a five time US National Soaring Champion and has developed several instruments for sailplane pilots.
            br
            |                     He has has crafted more than half-a-dozen software advances in cockpit
            |                     instrumentation and data analysis and reporting to aid soaring pilots.
            .img
              img(src='/images/mifflin.jpg', alt='Gliders', style='width: 80%; align-self: center;')
          p
            a(href='GarnerResume.html') Garner's Resume
          p
            br
    ul.footercontainer
      li
        a(href='index.html') Home
      li
        a(href='why.html') Why
      li
        a(href='what.html') What
      li
        a(href='how.html') How
      li.highlight
        a(href='about.html') About
      li
        a(href='contact.html') Contact
