extends layout

block extraHeader
    title TalkingAir Introduction

block content
  body
    include includes/header
    .pagecontainer
      .leftvertical
        div
          h1= t('app.indexH1')
          h2= t('app.indexH2')
        div
          p= t('app.Doesnt')
          p
            #upperbottomleft
              #edison
              #picture
      .squareinhorizontalspring
      .bottomleft
        p(style='padding-left:3vw;width:45vw')= t('app.ourgoal')
        p(style='padding-left:12vw;width:45vw')
          | We want to create inexpensive, portable, geolocated and connected air quality sensors. Inexpensive so that
          | many of us can afford it. Portable so it can be used anywhere, allowing us to reduce our exposure. Geolocated and connected
          | so that we can share the data.
      .bottomright
        img(src='images/bagota.jpg', alt='Bagota', style='width:80%;height:80%')
        .desc
          | How is the air in your city? Visit 
          a(href='http://aqicn.org/') AQICN
          |  and find out.
    include includes/footer
