extends layout

block extraHeader
    title What

block content

  body
    include includes/header
    .pagecontainer
      #la
        p(style='width:40%')
          | Economical, small, light weight, low power, accurate, GPS and internet connected.
        p(style='width:40%') Measure the main pollutants: PM25, Ozone, Volatile Organic Compounds (VOCs).
    include includes/footer
